body {
	.chart-scroll-container {
		width: 100%;
		overflow: hidden;
		overflow-x: scroll;

		.scroll-instructions {
			display: none;
			font-size: 0.85em;
			color: rgba(31,103,149,1);
			font-weight: bold;

			@media only screen and (max-width: 767px) {
				display: block;
			}
		}

		.statschart {
			//min-width: 950px;
			min-width: 600px;
		}
	}

	.biggest-bite,
	.appearances-table {
		border: 1px solid #5797c1;
		padding: 5px;

		.biggest-bite-header,
		.appearances-table-header {
			background-color: #5797c1;
			padding: 5px;
			margin-bottom: 5px;

			h2 {
				color: #FFF;
				text-align: center;
				font-size: 23px;
				font-family: 'Archivo Black',sans-serif;
				font-weight: bold;
				letter-spacing: 0.2px;
				border: none;
				margin: 0;
			}
		}

		.biggest-bite-data-container,
		.appearances-data-container {
			.biggest-bite-data-row,
			.appearances-data-row {
				margin-bottom: 5px; 
				display: flex;

				.biggest-bite-shark,
				.appearances-shark {
					display: inline-block;
					margin-right: 5px;
					width: 55px;
					min-width: 55px;
					min-height: 50px;
					
					&.barbara {
							background-image: url('/extensions/StatsWidget/img/square-barbara.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.mark {
							background-image: url('/extensions/StatsWidget/img/square-mark.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.kevin {
							background-image: url('/extensions/StatsWidget/img/square-kevin.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.lori {
							background-image: url('/extensions/StatsWidget/img/square-lori.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.daymond {
							background-image: url('/extensions/StatsWidget/img/square-daymond.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.robert {
							background-image: url('/extensions/StatsWidget/img/square-robert.jpg');
							background-repeat: no-repeat;
							background-size: contain;
							width: 50px;
							height: 50px;
					}
					
					&.season_num {
						text-align: center;
						font-weight: bold;
						font-size: 22px;
						line-height: 48px;
					}

					img {
						max-width: 50px;
						width: 50px;
						height: 50px;
					}
				}
				
				.appearances-money {
					background-color: rgba(255,189,107,1);
					font-size: 0.9em;
					line-height: 4em;
					width: 110px;
					text-align: center;
					margin-left: 8px;
				}
				
				.biggest-bite-graph-container,
				.appearances-graph-container {
					display: inline-block;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.biggest-bite-graph,
					.appearances-graph {
						width: 100%;
						height: 75%;
						/* background-color: rgba(178,214,238,1); */
						background-image: linear-gradient(-90deg, rgba(178,214,238,1), rgba( 31,103,149,1));
						display: flex;
						flex-direction: column;
						justify-content: center;
						box-shadow: 5px 5px 7px rgba(31,103,149,0.2);
						
						/*
						&.percent-25 {
							background-color: transparent;
							background-image: linear-gradient(90deg, rgba(178,214,238,1), rgba(255,189,107,1));
						}
						
						&.percent-50 {
							background-color: transparent;
							background-image: linear-gradient(90deg, rgba(178,214,238,1), rgba(101,106,202,1));
						}
						
						&.percent-75 {
							background-color: transparent;
							background-image: linear-gradient(90deg, rgba(178,214,238,1), rgba(101,106,202,1));
						}
						
						&.percent-95 {
							background-color: transparent;
							background-image: linear-gradient(90deg, rgba(178,214,238,1), rgba( 185,187,241,1));
						}
						*/

						.bite-text,
						.appearances-text {
							font-weight: bold;
							text-align: right;
							padding-right: 5px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.biggest-bite-data-container .biggest-bite-graph-container > .biggest-bite-graph:nth-child(3) {
			background-color: rgba(255,205,142,1);
		}
	}
}